extends:
  - metalab
  - metalab/react
plugins:
  - prettier
rules:
  complexity: 0
  jsx-quotes:
    - 2
    - prefer-double
  prettier/prettier: 2
  metalab/flowtype/space-after-type-colon: 0
overrides:
  -
    files: "*.test.js"
    env:
      jest: true
