parser: '@typescript-eslint/parser'
parserOptions:
  project: tsconfig.json
plugins:
  - react
  - prettier
  - '@typescript-eslint'
extends:
  - eslint:recommended
  - plugin:react/recommended
  - plugin:@typescript-eslint/recommended
rules:
  prettier/prettier: error
  # Indent is owned by prettier
  '@typescript-eslint/indent': off
  '@typescript-eslint/no-unused-vars':
    - error
    - varsIgnorePattern: _
      argsIgnorePattern: _
  react/prop-types: off
overrides:
  - files: "*.test.tsx"
    env: {jest: true}
  - files: "*.stories.tsx"
    env: {node: true}
