sudo: false
language: node_js
matrix:
  include:
    # Run tests in Node.js 0.12
    - node_js: '0.12'

    # Run tests in Node.js 4.x
    - node_js: '4'

    # Run tests in Node.js 5.x
    - node_js: '5'

    # Run tests in Node.js 6.x
    - node_js: '6'
