body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.flowtipDemoArea {
  background-color: gainsboro;
}

.flowtipDemoTarget {
  background-color: black;
}

.flowtip-tail {
  background-color: red;
}

.flowtip-root {
  background-color: gray;
}
