body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.flowtipDemo {
  height: 100%;
}

.flowtipDemoArea {
  background-color: gainsboro;
  width: 800px;
  height: 500px;
  margin-left: 150px;
  position: "relative";
  overflow: auto;
}

.flowtipDemoTarget {
  background-color: black;
}

.flowtip-tail {

}

.flowtip-tail-top, .flowtip-tail-bottom {
  width: 14px;
  height: 7px;
}

.flowtip-tail-right, .flowtip-tail-left {
  width: 7px;
  height: 14px;
}

.flowtip-tail::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.flowtip-tail-left::before {
  border-width: 7px 0 7px 7px;
  border-color: transparent transparent transparent red;
}

.flowtip-tail-right::before {
  border-width: 7px 7px 7px 0;
  border-color: transparent green transparent transparent;
}

.flowtip-tail-top::before {
  border-width: 7px 7px 0 7px;
  border-color: blue transparent transparent transparent;
}

.flowtip-tail-bottom::before {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent purple transparent;
}

.flowtip-root {
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.7));
}

.flowtip-root-left {
  background-color: red;
}

.flowtip-root-right {
  background-color: green;
}

.flowtip-root-top {
  width: 300px;
  background-color: blue;
}

.flowtip-root-bottom {
  background-color: purple;
}
